@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
*{
    box-sizing: border-box;
}

body {
	margin: 0 auto;
    text-align: center;
	background: linear-gradient(-45deg, #eed752, #e73c7e, #238ed5, #23d5ab );
   	background-size: 1000% 1000%; 
	-webkit-animation: gradientBG 5s ease-in-out infinite;
	animation: gradientBG 4s ease-in-out infinite;
}
@-webkit-keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

header{
    margin-top: 1rem;
}
#header-img{
    width: 180px;
	height: 180px;
	border-radius: 50%;
	box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 8px 0 rgb(0 0 0 / 14%), 0 1px 16px 0 rgb(0 0 0 / 12%);
}

.line-drawing-demo{
    margin-top: 1rem;
}

.blockquote{
	font-family: 'Satisfy', cursive;
	justify-content: center;
}

.line{
    border:1px solid rgba(236, 240, 236, 0.253);
    width: 70%;
    height: 1%;
}

.btn{
	font-family: 'Satisfy' ,cursive;
	height: 40px;
	width: auto;
	padding: 10px;
  	border: 0;
  	border-radius: 15px;
  	background-color: #e73c7e;
  	cursor: pointer;
}



.btn-stylish{
	text-decoration: none;
	color: white;
}

.footer-list-item {
    list-style-type: none;
    display: inline-block;
  }

  .footer-list {
    padding: 20px 0;
    text-align: center;
  }


@media only screen and (max-width:600px){
    .line-drawing-demo{
        display: flex;
    }
}
